@import '../../../scss/palette';

.sidenav-container {
  height: 100vh;            
  margin: 0;                
  display: flex;            
  flex-direction: column;
}

.sidenav {
  width: 60px; 
}

.sidenav-content {
  flex: 1;
}

.is-mobile .sidenav {
  width: 56px;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

a.mat-list-item {
  display: flex;
  align-items: center; // Alinea verticalmente el ícono y el texto
  padding: 8px 16px; // Ajusta el padding según sea necesario
}

.mat-icon {
  margin-right: 8px; // Espacio entre el ícono y el texto
  font-size: 24px; // Tamaño del ícono, ajústalo según sea necesario
}

span.sidenav-item-color {
  font-size: 16px; // Tamaño del texto, ajústalo según sea necesario
}

.mat-icon.sidenav-text {
  margin-right: 8px;       
  font-size: 24px;        
}

.sidenav-text {  
  line-height: 1; 
}

/*
.sidenav-item-color {
  color: #{$primary-90} !important;
}
  */