@import '../../../scss/variables';
/*
.sidenav-container {
  height: 100vh;            
  margin: 0;                
  display: flex;            
  flex-direction: column;   
  background-color: $purple-10;
}

.sidenav {
  width: 60px; 
}


.sidenav-bg {
  background-color: $purple;
}

.sidenav-content {
  flex: 1;
}

.is-mobile .sidenav {
  width: 56px;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

a.mat-list-item {
  display: flex;           
  align-items: center;    
  text-decoration: none;   
}

.mat-icon.sidenav-text {
  margin-right: 8px;       
  font-size: 24px;        
}

.sidenav-text {
  color: $white;    
  line-height: 1; 
}
  */
