
<mat-dialog-content>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Crear clave maestra</mat-card-title>
    </mat-card-header>
    <br/>
    <mat-card-content>
      <form [formGroup]="options">
        <div class="example-form-fields">
          <mat-form-field [floatLabel]="floatLabel()"  class="w-100">
            <mat-label>Nombre</mat-label>
            <input matInput  formControlName="nombre" placeholder="Ejemplo: Seguridad" />
          </mat-form-field>
          @if (nombre?.invalid && (nombre?.dirty || nombre?.touched)) {
            <div>
              @if (nombre?.errors?.['required']) {
                <div class="text-danger">
                  El campo Nombre Clave es obligatorio.
                </div>
              }
              @if (nombre?.errors?.['minlength']) {
                <div class="text-danger">
                  El campo Nombre Clave debe tener al menos 5 caracteres.
                </div>
              }
            </div>
          }
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="mat-dialog-actions">
      <a mat-button extended routerLink="." (click)="onCancelClick()">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </a>
      <a mat-fab extended routerLink="." (click)="onSubmit()">
         @if (!isLoading) {
            <mat-icon>save</mat-icon>
         }
         @else {
          <mat-icon><mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner></mat-icon>
         }
         Guardar
      </a>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
