$primary-0: #000000;
$primary-10: #001b3f;
$primary-20: #002f65;
$primary-25: #003a7a;
$primary-30: #00458f;
$primary-35: #0050a5;
$primary-40: #005cbb;
$primary-50: #0074e9;
$primary-60: #438fff;
$primary-70: #7cabff;
$primary-80: #abc7ff;
$primary-90: #d7e3ff;
$primary-95: #ecf0ff;
$primary-98: #f9f9ff;
$primary-99: #fdfbff;
$primary-100: #ffffff;
$secondary-0: #000000;
$secondary-10: #131c2b;
$secondary-20: #283041;
$secondary-25: #333c4d;
$secondary-30: #3e4759;
$secondary-35: #4a5365;
$secondary-40: #565e71;
$secondary-50: #6f778b;
$secondary-60: #8891a5;
$secondary-70: #a3abc0;
$secondary-80: #bec6dc;
$secondary-90: #dae2f9;
$secondary-95: #ecf0ff;
$secondary-98: #f9f9ff;
$secondary-99: #fdfbff;
$secondary-100: #ffffff;
$neutral-0: #000000;
$neutral-10: #1a1b1f;
$neutral-20: #2f3033;
$neutral-25: #3b3b3f;
$neutral-30: #46464a;
$neutral-35: #525256;
$neutral-40: #5e5e62;
$neutral-50: #77777a;
$neutral-60: #919094;
$neutral-70: #ababaf;
$neutral-80: #c7c6ca;
$neutral-90: #e3e2e6;
$neutral-95: #f2f0f4;
$neutral-98: #faf9fd;
$neutral-99: #fdfbff;
$neutral-100: #ffffff;
$neutral-variant-0: #000000;
$neutral-variant-10: #181c22;
$neutral-variant-20: #2d3038;
$neutral-variant-25: #383b43;
$neutral-variant-30: #44474e;
$neutral-variant-35: #4f525a;
$neutral-variant-40: #5b5e66;
$neutral-variant-50: #74777f;
$neutral-variant-60: #8e9099;
$neutral-variant-70: #a9abb4;
$neutral-variant-80: #c4c6d0;
$neutral-variant-90: #e0e2ec;
$neutral-variant-95: #eff0fa;
$neutral-variant-98: #f9f9ff;
$neutral-variant-99: #fdfbff;